.panel {
  width: 890px;
}
.logo {
  margin-bottom: 10px;
  display: block;
  width: 100%;
}
.cell {
  vertical-align: middle;
}
.cell-favourite {
  width: 50px;
  text-align: center;
}
.cell-favourite .btn {
  display: inline-block;
  vertical-align: middle;
  padding: 3px 6px;
}
.cell-favourite .btn i {
  color: #ccc;
}
.cell-favourite .btn-warning i {
  color: #fff;
}
.cell-number {
  text-align: center;
}
.cell-sender {
  white-space: nowrap;
}
.cell-sender .btn {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  padding: 3px 6px;
}
.cell-sender .text {
  max-width: 200px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}
.cell-body .text {
  max-width: 400px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
}
.t-row {
  cursor: pointer;
}
.content {
  max-width: 800px;
  margin: 0 auto;
}
.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  text-align: center;
}
.modal-window:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.modal-window-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  z-index: 9999;
}
.modal-window-in {
  vertical-align: middle;
  display: inline-block;
  width: 80%;
  max-width: 800px;
  background: #fff;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  position: relative;
  z-index: 99999;
}
.modal-window .body-desc {
  margin-bottom: 0;
}
